
/*----------- Home Page ----------*/

div.welcome {
  position: absolute;
  background: white;
  width: auto;
  height: auto;
  border: 3px solid #555555;
  margin: 15% 10% 20% 25%;
  padding: 4%;
}

.signupbutton, .loginbutton {
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: block;
  position: relative;
}

.signupbutton {
  background-color: #BEBEBE;
  color: black;
  margin-right: 3em;
  margin-top: 1.5em;
  margin-left: 3em;
}

.loginbutton {
  background-color: #c65353;
  color: white;
  margin-right: 3em;
  margin-top: 1em;
  margin-left: 3em;

}

/*.newgift {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  float: right;
}*/

/*----------- Login/Signup Page ----------*/

.login, .signup {
  position: absolute;
  background: rgba(255, 255, 255, 255);
  border: 3px solid #555555;
  text-align: justify;
  width: 50%;
  height: auto;
  margin: 15% 10% 20% 25%;
  padding: 4%;
}

.signupinput, .logininput {
  width: 50%;
  display: inline-block;
  float: right;
}

.submitbutton {
  float: right;
}

/*----------- Gift Page ----------*/

.welcome-message {
  position: relative;
  background: transparent;
  width: 40%;
  height: 10%;
  margin: 10px 10px 30px 60px;
  padding: 20px;
}

.newgift, .logout {
  background-color: #555555;
  border: 1px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /*text-decoration: none;*/
  display: inline-block;
  font-size: 1em;
  margin-right: 1.25em;
  margin-top: 0.6em;
  cursor: pointer;
  float: right;
}

.footer {
  position: absolute;
  background-color: transparent;
  width: 60%;
  height: 8%;
  padding: 20px;
  margin: 1px 5px 350px 450px;
}

/*---------Create_Gift Page ----------*/

div.creategift {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid #555555;
  width: 810px;
  height: auto;
  margin: 50px 10px 10px 250px;
  padding: 40px;
}

.notes-box {
  position: absolute;
  height: 55%;
  width: 43%;
  left: 5px;
  top: 40px;
  right: 5px;
  bottom: 5px;
  margin-left: 420px;
}



/*--------- Show Page ----------*/

/*.showfooter {
  position: absolute;
  background-color: transparent;
  width: 60%;
  height: 8%;
  padding: 20px;
  margin: 1px 5px 350px 450px;
}*/

.showgift {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid #555555;
  top: 30%;
  left: 20%;
  right: 65%;
  text-align: justify;
  width: 50%;
  height: auto;
  margin: 30px 20px 20px 95px;
  padding: 1.87em;
  text-align: justify;
}

.showgift h5 b {
  padding-right: 3.12em;
}

.nav-buttons{
  margin-top: 1.87em;
}

/*--------- Text ----------*/

a {
  color: #000000;
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

input, textarea {
  padding-left: 10px;
}
/*textarea {
    position: absolute;
    height: 200px;
    width: 50%;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    margin-left: 350px;
    margin-top: 40px;
}*/

/*------- Table ----------*/

.table-header {
  font-size: 1em;
  background-color: white;
}

th, td {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
}

td a {
  color: black;
}


/*------- Background Image ----------*/
body {
  background: url(../images/barn.jpg) no-repeat center center fixed;
  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */
  -o-background-size: cover; /* for Opera 9.5 */
  margin: 0; /* to remove the default white margin of body */
  padding-top: 0; /* to remove the default white margin of body */
}


/*-------Text ----------*/

h1 {
  font-size: 1em;
}

label {
font-size: 1.2em;
}
