
/*----------- Home Page ----------*/

  .welcome {
  position: absolute;
  background: white;
  width: 50%;
  height: 20%;
  border: 1px solid black;
  margin: 150px 10px 10px 300px;
  padding: 40px

}

.signupbutton, .loginbutton, .newgift {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
  }

/*----------- Login/Signup Page ----------*/

.login, .signup {
position: absolute;
background: rgba(255, 255, 255, 0.8);
border: 1px solid black;
text-align: justify;
width: 50%;
height: 20%;
margin: 150px 10px 10px 300px;
padding: 40px;
}




/*----------- Gift Page ----------*/

.welcome-message {
position: relative;
background: transparent;
width: 40%;
height: 10%;

margin: 10px 10px 30px 60px;
padding: 20px;
}

.newgift, .logout {
    background-color: #555555;
    border: 1px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
  }

.footer {
position: absolute;
background-color: transparent;
width: 60%;
height: 8%;
padding: 20px;
margin: 1px 5px 350px 450px;
}

/*---------Create_Gift Page ----------*/

.creategift {
position: absolute;
background: rgba(255, 255, 255, 0.8);
border: 1px solid black;
width: 60%;
height: 30%;
margin: 50px 10px 10px 250px;
padding: 40px;
}

/*--------- Show Page ----------*/
.showfooter {
position: absolute;
background-color: transparent;
width: 60%;
height: 8%;
padding: 20px;
margin: 1px 5px 350px 450px;
}

.showgift {
position: absolute;
background: rgba(255, 255, 255, 0.7);
border: 1px black;
left: 35%;
right: 0%;
text-align: justify;
width: 30%;
height: 40%;
margin: 2px 20px 20px 250px;
padding: 60px;
}

/*--------- Text ----------*/
a {
  color: #000000;
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

textarea {
  height: auto;
}

/*------- Table ----------*/

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

table.scrollTable {
  width: 80%;
}

thead.fixedHeader {
  display: block;
}

thead.fixedHeader tr {
  height: 30px;
  background: #c96;
}

thead.fixedHeader tr th {
  border-right: 1px solid black;*/
}

tbody.scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
}

tbody.scrollContent td {
  background: #eee;
  border-right: 1px solid black;
  height: 25px;
}

tbody.scrollContent tr.alternateRow td {
  background: #fff;
}

thead.fixedHeader th {
  width: 209px;
}

thead.fixedHeader th:last-child {
  width: 230px;
}

tbody.scrollContent td {
  width: 233px;
}

/*------- Background Image ----------*/
body {

       background: url(../images/2.jpg) no-repeat center center fixed;

       background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
       -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
       -moz-background-size: cover; /* optional for Firefox 3.6 */
       -o-background-size: cover; /* for Opera 9.5 */
       margin: 0; /* to remove the default white margin of body */
       padding: 0; /* to remove the default white margin of body */

            }
