
<body>

    <div class="welcome">
      <h2>Welcome to Christmas Shopper</h2>
      <h8>Please sign up or log in to access your account </h8>


      <a href="/signup" class="signupbutton">SIGN UP</a>

      <a href="/login" class="loginbutton">LOGIN</a>
    </div>



  </body>
