
<body>

    <div class="welcome">
      <h1>Welcome to Christmas Shopper</h1>
          Please sign up or log in to access your account


      <a href="/signup" class="signupbutton">Sign Up</a>

      <a href="/login" class="loginbutton">Log In</a>

    </div>


  </body>
