
<h1>Welcome to Christmas Shopper</h1>
<h4>Please sign up or log in to access your account</h4>

<div id="leftContainer">
  <form action="/signup" method="get">
    <input type="submit" value="Sign Up">
  </form>
</div>

<div id="rightContainer">
  <form action="/login" method="get">
    <input type="submit" value="Log In">
  </form>
