
    <body>

      <div class="login">
      <h1>Log In Please</h1>
        <br>


          <form method="post" action="/login">

              <label for="username">Username</label>
              <input class="logininput" type="text" id="username" name="username">
              <br>
              <label for="password"> Password</label>
              <input class="logininput" type="password" id="password" name="password" maxlength=20>
            <br></br>
                <input type="submit" value="submit" style="float: right">
            </form>



      </div>
        <div class="footer">
          <a href= "/signup" class="logout ">Sign Up</a>
          <a href= "/" class="logout ">Home</a>
        </div>

  </body>
