    <body>
      <div class="signup">
        <h2>Sign Up Below</h2>
        <br>
        <form method="post" action="/signup">

            <label for="Username">Username</label>
            <input class="signupInput" type="text" id="username" name="username">
          </br>
            <label for="Email">Email</label>
            <input class="signupInput" type="text" id="email" name="email">
          </br>
            <label for="Password">Password</label>
            <input class="signupinput" type="password" id="password" name="password">
          <br></br>
              <input class="submitbutton" type="submit" value="Sign Up">
          </form>
        </div>

        <div class="footer">
          <a href="/login" class="logout">Login</a>
          <a href= "/" class="logout ">Home</a>
        </div>

    </body>
