<h1>Your shopping list for gifts!</h1>

<form method="post" action="/gifts">

  <label for="name">What's the gift? </label>
  <input type="text" id="name" name="name">

  <label for="where_to_buy">Where to buy? </label>
  <input type="text" id="where_to_buy" name="where_to_buy">

  <label for="recipient">Who's getting it?</label>
  <input type="text" id="recipient" name="recipient">

    <input type="submit" value="submit">

</form>
