<html>

  <head>

    <h1>Your shopping list for gifts!</h1>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
  </head>

  <body>
      <form method="post" action="/gifts">

        <label for="name">What's the gift? </label>
        <input type="text" id="name" name="name" size="25" placeholder='name'>

        <label for="where_to_buy">Where to buy? </label>
        <input type="text" id="where_to_buy" name="where_to_buy" size="25" placeholder='storename or website link'>

        <label for="recipient">Who's getting it?</label>
        <input type="text" id="recipient" name="recipient" placeholder='recipient'>

          <input type="submit" value="submit">

    </form>

  </body>

 </html>
