<head>
  <% if flash.has?(:error) %>
  <p><%= flash[:error] %></p>
  <% elsif flash.has?(:success) %>
  <p><%= flash[:success] %></p>
  <% end %>
  <link rel="stylesheet" href="/stylesheets/main.css">

  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css">


</head>
<html>

  <%= yield %>







</html>
